{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block title %}{{ profile_data.username }} - профіль - МійКрай{% endblock %}

{% block content %}
    <div class="profile-info-container">

        <p>{{ profile_data.username }}</p>
        <p>{{ profile_data.first_name }} {{ profile_data.last_name }}</p>
        <p>{{ profile_data.village }}</p>
        <p>{{ profile.data.date_of_birth }}</p>
        <p>{{ profile_data.about_me }}</p>

    </div>
    {% if profile_data == user %}
        {% if not user.is_activated %}
            <form method="post">
                {% csrf_token %}
                <button class="btn-primary" type="submit" name="send_email">Надіслати лист активації</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}