{% extends 'base/base.html' %}

{% load bootstrap4 %}

{% block title %}{% endblock %}

{% block content %}
    <h3>Відновлення паролю</h3>
    <hr>
    <b><p>Введіть свою електронну адресу, яку ви використувували при реєстрації.
        Ми надішлемо вам лист з підтвердженням зміни паролю.</p></b>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="btn btn-primary">Відновити пароль</button>
    </form>

{% endblock %}