{% load static %}
{% load thumbnail %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Головна{% endblock %} - Мій Край</title>
    <link rel="stylesheet" href="{% static 'static/base_template_stype/base.css' %}">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery="slim" %}

</head>
<body id="body">
    <!-- Шапка сайта -->
    <div class="header-div-container">
        <!-- Отображать, если пользователь авторизирован -->
        {% if user.is_authenticated %}
            <div class="user-info">
                {% if user.user_image %}
                    <a href="{% url 'main:user_profile' slug=user.slug %}">
                        <img id="user-avatar" src="{% thumbnail user.user_image 'avatar' %}" alt="alt-img">
                    </a>
                {% else %}
                    <a href="{% url 'main:user_profile' slug=user.slug %}">
                        <img src="{% static 'static/default user avatar/default.jpg' %}" alt="alt-img">
                    </a>
                {% endif %}
                <div id="user-buttons-block">
                    <ul class="user-header-menu">
                        <li class="user-header-menu-item" id="user-nickname">@{{ user.username }}</li>
                        <li class="user-header-menu-item" id="user-name">
                            {% if user.first_name and user.last_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% elif user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                {{ user.email }}
                            {% endif %}
                        </li>
                        <li class="user-header-menu-item" id="user-rating">Рейтинг +415</li>
                        <li><a href="{% url 'main:user_profile' slug=user.slug %}" class="user-header-menu-down">
                            <i class="arrow-down"></i> Профіль</a>
                            <ul class="user-header-submenu">
                                <li><a href="#">Особисті повідомлення</a></li>
                                <li><a href="#">Мої статьї</a></li>
                                <li><a href="#">Мої комментарії</a></li>
                                <li><a href="{% url 'main:user_personal_info' user.slug %}">Редагувати профіль</a></li>
                                <li class="user-menu-divider"></li>
                                <li><a href="{% url 'main:user_logout' %}">Вихід</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
            <!-- Отображать, если пользователь не авторизирован -->
            <div class="user-info-not-auth">
                <p id="user-info-login-btn"><a id="login-button-a" href="{% url "main:user_login" %}">Увійти</a></p>
                <p id="user-info-reg-btn" class="reg-btn-p">
                    <a class="reg-btn-link-a" href="{% url "main:user_registration" %}" id="reg-button-a">
                        Зареєструватись
                    </a>
                </p>
            </div>
        {% endif %}
        <div class="header-title">
            <p id="header-title-p">
                <a id="header-title-a" href="{% url 'main:main_page' %}">
                <img src="{% static '/static/base_template_stype/header/logo-title.png' %}" alt="logo">
                </a>
            </p>
        </div>
        <div class="header-logo"><p id="header-logo-p">
            <a href="{% url 'main:main_page' %}">
                <img id="logo-header" src="{% static 'static/base_template_stype/header/logo_header.png' %}" alt="logo">
            </a>
        </div>
    </div>

    <!-- Строка навигации с кнопками и поископ под шапкой -->
    <div class="nav-buttons-line">
        <div class="nav-line-buttons-container">
            <p id="main-page-btn" class="nav-line-buttons-p"><a href="{% url 'main:main_page' %}">На головну</a></p>
            <p id="create-article-btn"><a href="#">Створити статью</a></p>
        </div>
        <div class="nav-line-search-container">
            <form class="nav-line-search-line-container" method="get">
                {% csrf_token %}
                <button id="search-button" type="submit" name="search_btn">Знайти</button>
                <input id="search-line" type="search" placeholder="Пошук по сайту" name="search_field">
            </form>
        </div>
    </div>

    <!-- Главная часть страницы -->
    <div class="div-container-main" id="main">
        <div class="left-main-block" id="main-left-menu">
            <p>First</p>
            <p>Second</p>
            <p>Third</p>
            <p>...</p>
        </div>
        <div class="center-main-block" id="main-content">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </div>
        <div class="right-main-block" id="main-right-menu">
            <p>the last changes</p>
            <p>most popular comments</p>
            <p>advertising</p>
        </div>
    </div>
    <div class="div-footer">

    </div>
</body>
</html>